// Colors
$black: #000;
$white: #ffffff;

$light: #fff;
$dark: #000;

$brandBlack-11: #080808;

$brandGray-01: #f4f4f4;
$brandGray-03: #c5cacf;
$brandGray-04: #a9b0b8;
$brandGray-05: #818c97;
$brandGray-06: #697683;
$brandGray-07: #435464;
$brandGray-09: #303c47;
$brandGray-11: #1c232a;

$brandBlue-01: #f4f9fd;
$brandBlue-02: #eff4f8;
$brandBlue-03: #ccdbea;
$brandBlue-04: #b4cae0;
$brandBlue-05: #91b2d1;
$brandBlue-07: #5b8cbb;
$brandBlue-08: #537faa;
$brandBlue-11: #263b4f;

